
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBookLabel" data-translate="ebookApp.book.home.createOrEditLabel">Create or edit a Book</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.book.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.book.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.book.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.book.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.book.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.book.price"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.book.author" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                    ng-model="vm.book.author"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.book.released_date" for="field_released_date">Released Date</label>
                <div class="input-group">
                    <input id="field_released_date" type="text" class="form-control" name="released_date" uib-datepicker-popup="dd-MM-yyyy" ng-model="vm.book.released_date" is-open="vm.datePickerOpenStatus.released_date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('released_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.book.added_date" for="field_added_date">Added Date</label>
                <div class="input-group">
                    <input id="field_added_date" type="text" class="form-control" name="added_date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.book.added_date" is-open="vm.datePickerOpenStatus.added_date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('added_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.book.ratings" for="field_ratings">Ratings</label>
            <input type="number" class="form-control" name="ratings" id="field_ratings"
                    ng-model="vm.book.ratings"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.book.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.book.description"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
