<div>
    <h2 data-translate="">Dashboard for Uploaded Files</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="fileupload" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="">
                        Upload a new File
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="">#</span></th>
                <th><span data-translate="">File Name</span></th>
                <th><span data-translate="">Size</span></th>
                <th><span data-translate="">Created By</span></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in vm.uploadedFiles" >
                <td>{{$index+1}}</td>
                <td>{{file.filename}}</td>
                <td>{{file.filesize}}</td>
                <td>{{file.createdby}}</td>
                <td><button class="btn btn-success" ng-click="vm.downloadFile(file.filename)"><span class="glyphicon glyphicon-download"></span>&nbsp;Download</button></td>
                <td><button class="btn btn-primary" ng-click="vm.viewFile(file.filename)"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;View</button></td>
                <td><button class="btn btn-info" ui-sref="fileshared"><span class="glyphicon glyphicon-share"></span>&nbsp;Share</button></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

