
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuthorLabel" data-translate="ebookApp.author.home.createOrEditLabel">Create or edit a Author</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.author.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.author.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.author.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.author.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.author.biography" for="field_biography">Biography</label>
            <input type="text" class="form-control" name="biography" id="field_biography"
                    ng-model="vm.author.biography"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.author.genre" for="field_genre">Genre</label>
            <input type="text" class="form-control" name="genre" id="field_genre"
                    ng-model="vm.author.genre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.author.ratings_total" for="field_ratings_total">Ratings Total</label>
            <input type="number" class="form-control" name="ratings_total" id="field_ratings_total"
                    ng-model="vm.author.ratings_total"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.author.ratings_avg" for="field_ratings_avg">Ratings Avg</label>
            <input type="number" class="form-control" name="ratings_avg" id="field_ratings_avg"
                    ng-model="vm.author.ratings_avg"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ebookApp.author.ratings" for="field_ratings">Ratings</label>
            <input type="number" class="form-control" name="ratings" id="field_ratings"
                    ng-model="vm.author.ratings"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
